{% extends "CursosBundle::layout.html.twig" %}

{% block content %}
	{% if is_granted('ROLE_USER') %}
		<strong> Bienvenido usuario, puedes consultar y registrarte en los cursos!! </strong>
	{% elseif is_granted('ROLE_ADMIN') %}
		<strong> Bienvenido administrador, el sistema está a su servicio!! </strong>
	{% else %}
		<strong> Bienvenido visitante!! </strong>
	{% endif %}
	
	<div class="col-lg-4">
		<h3> Inicio de sesión </h3>
		<hr/>
		{% for message in app.session.flashbag().get('status') %}
			<div class="alert alert-success"> {{ message }} </div>
		{% endfor %}
		<form action="{{path("login_check")}}" method="post">
			<label>Apodo:</label>
			<input type="apodo" id="username" name="_username" value="{{ last_username }}" class="form-control" />
			<br/>
			<label>Contraseña:</label>
			<input type="password" id="password" name="_password" class="form-control" />
			<br/>
			<input type="submit" value="Enviar Registro" class="btn btn-success" />
			<input type="hidden" name="_target_path" value="/curso" />
		</form>
	</div>

	<div class="clearfix"></div>
{% endblock %}